#banner {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    justify-content: center;
    align-items: center;
    background-color: mediumpurple;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
}

#banner button {
    margin-left: 12px;
}
